* {
    margin: 0;
}

.business {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem;
    width: 320px;
    min-width: 320px;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 5px 24px, rgba(0, 0, 0, 0) 0px 5px 25px;
}

.businessImage {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.nameContainer {
    width: 100%;
}

.businessName {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.businessInfo {
    display: flex;
    justify-content: space-between;
}

.address {
    width: 70%;
}

.score {
    text-align: right;
}

.rating {
    color: #cca353;
}

.category {
    background-color: #cca353;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.1rem 0;
}